<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>This is my first Flask site.</h1>
        <p>Flask is a web framework.</p>
        <h2>My favourite food is {{ favourite_food }}.</h2>

        {% if number > 100 %}
        <p>I like big numbers.</p>
        {% else %}
        <p>I like small numbers.</p>
        {% endif %}

        <h2>Student grades</h2>
        {% for key, value in grades.items() %}
        <p>{{ key }} -- {{ value }}</p>
        {% endfor %}

        {% for item in grades %}
        <h2>{{ item.name }}</h2>
        <p>English: {{ item.english }}</p>
        <p>Science: {{ item.science }}</p>
        <p>Maths: {{ item.maths }}</p>
        {% endfor %}
    </body>
</html>